.wrapper {
  background: white;
  position: relative;
  overflow: hidden;
}

.topIntro {
  text-align: center;
  position: relative;
  z-index: 4;
  margin-bottom: clamp(20px, 3vw, 40px);
}

.heading {
  font-size: clamp(24px, 3vw, 36px);
  font-weight: 700;
  line-height: 1.3;
}

.canvas {
  position: relative;
  padding-top: 10px;
  z-index: 2;
}

.pathSvg {
  position: absolute;
  top: 118px;
  left: 0;
  width: 100%;
  height: 160px;
  z-index: 1;
  pointer-events: none;
  overflow: visible;
}

.stepsRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
  position: relative;
  z-index: 3;
  align-items: start;
  justify-items: center;
}

.step {
  text-align: center;
  padding-top: 30px;
}

.circleWrap {
  position: relative;
  width: clamp(300px, 18vw, 300px);
  height: clamp(300px, 18vw, 300px);
  margin: 0 auto;
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 18px rgba(3, 18, 30, 0.06);
  backface-visibility: hidden;
  transform: translateZ(0);
}

.img {
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  transform: scale(1);
  transition: transform 0.9s cubic-bezier(.2,.9,.2,1);
  will-change: transform;
}

.circleOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(3, 18, 30, 0.36) 0%,
    rgba(3, 18, 30, 0.08) 60%,
    rgba(3, 18, 30, 0.02) 100%
  );
  transition: opacity 0.6s ease;
  pointer-events: none;
}

.badge {
  position: absolute;
  top: -20px;
  left: -20px;
  width: clamp(65px, 6vw, 75px);
  height: clamp(65px, 6vw, 75px);
  border-radius: 50%;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 18px #03121e14;
  font-weight: 700;
  color: var(--white);
  z-index: 6;
  border: 6px solid #fffffff2;
  font-size: 18px;
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #08323a;
  font-weight: 700;
}

.stepDesc {
  max-width: 280px;
  margin: 0 auto;
  color: #596b74;
  font-size: 16px;
  line-height: 24px;
}

.step:hover .img {
  transform: scale(1.12);
}

.step:hover .circleOverlay {
  opacity: 0.28;
}
@media (max-width: 1280px) {
  .pathSvg {
   display: none;
  }
}
/* Medium Screens */
@media (max-width: 1100px) {
  .pathSvg {
    top: 20px;
    height: 120px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .stepsRow {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

/* Mobile */
@media (max-width: 520px) {
  .stepsRow {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .circleWrap {
    width: 330px;
    height: 310px;
  } 

  .stepDesc {
    max-width:350px;    
  }
}

@media (max-width: 320px) {
  
  .circleWrap {
    width: 280px;
    height: 280px;
  } 
}